<!DOCTYPE html>
<html>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<head>
  <title>Brandeisww</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>


</head>
<body>
 <div id="loginBar" style="background-color:#248FB2">
 <% if user_signed_in? %>
      <%= link_to current_user.email, main_app.edit_user_registration_path %>
      | <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
      <% if current_user.forem_admin %>
        | <%= link_to "Administrate", forem.admin_root_url %>
      <% end %>
      
    <% else %>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
  Log In
  
  <%= f.text_field :email, placeholder: 'Email'  %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
 <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
  <a href="https://www.facebook.com/groups/743459819055361/"> <img src="http://isaac26.com/pics/FB-f-Logo__white_50.png" style="width:29px;height:29px;border:0" >  </a>
  <% end %>
<% end %>
</div>
<%= yield %>
</body>

<p>    </p> 

</html>
